[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

nltk = "*"
click = "*"
pyyaml = "*"
matplotlib = "*"
pandas = "*"
tqdm = "*"


[requires]

python_version = "3.6"
